.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 56px 26px;
}

@media (max-width: 1279px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 20px;
  }
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 26px 12px;
  }
}
